$type: (
    nav-size: 70px,
    sudoku-cell-size: 30px,
    border-radius: 10px,
    space-y: 20px,
    gap: 5px,
);

$font: (
    size: (
        nl: 1.5rem,
        lg: 2rem,
        xl: 3rem
    )
);
